.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;

}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;

}

h1 {
  font-size: 5.625rem;
  margin-top: 0;
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #66BFBF;
}

.profil-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-size: cover;
  margin-top: 10px;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-right: 30px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  margin-top: 100px;
  padding: 50px;
  background-color: #66BFBF;
}



.contactMeButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1daade), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #1daade 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1daade', endColorstr='#408c99');
	background-color:#1daade;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:45px;
	line-height:45px;
width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #1daade) );
	background:-moz-linear-gradient( center top, #408c99 5%, #1daade 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#1daade');
	background-color:#408c99;
}.classname:active {
	position:relative;
	top:1px;
}
